{
  "openapi": "3.1.0",
  "info": {
    "title": "Chronary API",
    "version": "1.0.0",
    "description": "Calendar-as-a-service API for AI agents.\n\nManage calendars, events, and availability for AI and human agents.\nAll endpoints require an API key passed as a Bearer token.\n\n**Authentication:** `Authorization: Bearer chr_sk_live_...` or `Authorization: Bearer chr_ak_live_...`\n\n**Rate limit:** 10 requests/second per API key. Exceeds return HTTP 429.\n\n**Quotas:** Monthly operation limits by plan — see [Quotas](https://docs.chronary.ai/reference/quotas).",
    "contact": {
      "name": "Chronary Support",
      "email": "support@chronary.ai",
      "url": "https://docs.chronary.ai"
    }
  },
  "servers": [
    {
      "url": "https://api.chronary.ai",
      "description": "Production"
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key with `chr_sk_*` for org-level access or `chr_ak_*` for agent-scoped access. Pass in the Authorization header: `Authorization: Bearer chr_sk_live_...`"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "invalid_request"
              },
              "message": {
                "type": "string",
                "example": "The field \"name\" is required."
              },
              "request_id": {
                "type": "string",
                "example": "req_01H9X4M2P5R8T6V0"
              }
            },
            "required": [
              "type",
              "message",
              "request_id"
            ]
          }
        },
        "required": [
          "error"
        ]
      },
      "Agent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "agt_01H9X4M2P5R8T6V0"
          },
          "name": {
            "type": "string",
            "example": "Scheduling Assistant"
          },
          "type": {
            "type": "string",
            "enum": [
              "ai",
              "human",
              "resource"
            ],
            "example": "ai"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "example": "Books meetings with prospects."
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paused",
              "decommissioned"
            ],
            "example": "active"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {},
            "example": {}
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2025-01-15T10:00:00.000Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2025-01-15T10:00:00.000Z"
          }
        },
        "required": [
          "id",
          "name",
          "type",
          "description",
          "status",
          "metadata",
          "created_at",
          "updated_at"
        ]
      },
      "AgentList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Agent"
            }
          },
          "total": {
            "type": "integer",
            "example": 3
          }
        },
        "required": [
          "data",
          "total"
        ]
      },
      "Calendar": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "cal_01H9X4M2P5R8T6V0"
          },
          "agent_id": {
            "type": [
              "string",
              "null"
            ],
            "example": "agt_01H9X4M2P5R8T6V0"
          },
          "name": {
            "type": "string",
            "example": "Work Calendar"
          },
          "timezone": {
            "type": "string",
            "example": "America/Los_Angeles"
          },
          "agent_status": {
            "type": "string",
            "enum": [
              "idle",
              "working",
              "waiting",
              "error"
            ],
            "example": "idle"
          },
          "ical_url": {
            "type": "string",
            "format": "uri",
            "example": "https://api.chronary.ai/ical/abc123def456ghi789.ics"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {},
            "example": {}
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2025-01-15T10:00:00.000Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2025-01-15T10:00:00.000Z"
          }
        },
        "required": [
          "id",
          "agent_id",
          "name",
          "timezone",
          "agent_status",
          "ical_url",
          "metadata",
          "created_at",
          "updated_at"
        ]
      },
      "CalendarList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Calendar"
            }
          },
          "total": {
            "type": "integer",
            "example": 2
          }
        },
        "required": [
          "data",
          "total"
        ]
      },
      "Event": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "evt_01H9X4M2P5R8T6V0"
          },
          "calendar_id": {
            "type": "string",
            "example": "cal_01H9X4M2P5R8T6V0"
          },
          "title": {
            "type": "string",
            "example": "Team standup"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "example": "Daily sync meeting."
          },
          "start_time": {
            "type": "string",
            "format": "date-time",
            "example": "2025-01-20T09:00:00.000Z"
          },
          "end_time": {
            "type": "string",
            "format": "date-time",
            "example": "2025-01-20T09:30:00.000Z"
          },
          "all_day": {
            "type": "boolean",
            "example": false
          },
          "status": {
            "type": "string",
            "enum": [
              "confirmed",
              "tentative",
              "cancelled",
              "hold"
            ],
            "example": "confirmed"
          },
          "source": {
            "type": "string",
            "enum": [
              "internal",
              "external_ical"
            ],
            "example": "internal"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {},
            "example": {}
          },
          "hold_expires_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "When set, the event is a tentative hold that auto-expires at this timestamp.",
            "example": null
          },
          "hold_priority": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Priority for conflict resolution. Higher values pre-empt lower-priority overlapping holds.",
            "example": 0
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2025-01-15T10:00:00.000Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2025-01-15T10:00:00.000Z"
          }
        },
        "required": [
          "id",
          "calendar_id",
          "title",
          "description",
          "start_time",
          "end_time",
          "all_day",
          "status",
          "source",
          "metadata",
          "created_at",
          "updated_at"
        ]
      },
      "EventList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            }
          },
          "total": {
            "type": "integer",
            "example": 42
          }
        },
        "required": [
          "data",
          "total"
        ]
      },
      "CalendarContext": {
        "type": "object",
        "properties": {
          "calendar_id": {
            "type": "string",
            "example": "cal_01H9X4M2P5R8T6V0"
          },
          "now": {
            "type": "string",
            "format": "date-time",
            "example": "2026-04-14T10:30:00.000Z"
          },
          "agent_status": {
            "type": "string",
            "enum": [
              "idle",
              "working",
              "waiting",
              "error"
            ],
            "example": "idle"
          },
          "current_event": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Event"
              },
              {
                "type": [
                  "object",
                  "null"
                ],
                "description": "Currently active event, or null"
              }
            ]
          },
          "next_event": {
            "allOf": [
              {
                "$ref": "#/components/schemas/Event"
              },
              {
                "type": [
                  "object",
                  "null"
                ],
                "description": "Next upcoming event, or null"
              }
            ]
          },
          "recent_events": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            },
            "description": "Up to 3 most recently ended events"
          },
          "upcoming": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Event"
            },
            "description": "Up to 5 events starting within the next 24 hours"
          }
        },
        "required": [
          "calendar_id",
          "now",
          "agent_status",
          "current_event",
          "next_event",
          "recent_events",
          "upcoming"
        ]
      },
      "Slot": {
        "type": "object",
        "properties": {
          "start": {
            "type": "string",
            "format": "date-time",
            "example": "2025-01-20T09:00:00.000Z"
          },
          "end": {
            "type": "string",
            "format": "date-time",
            "example": "2025-01-20T09:30:00.000Z"
          },
          "available": {
            "type": "boolean",
            "example": true
          }
        },
        "required": [
          "start",
          "end",
          "available"
        ]
      },
      "AvailabilityResponse": {
        "type": "object",
        "properties": {
          "slots": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Slot"
            }
          }
        },
        "required": [
          "slots"
        ]
      },
      "Webhook": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "whk_01H9X4M2P5R8T6V0"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://example.com/webhooks/chronary"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "agent.created",
                "agent.updated",
                "event.created",
                "event.updated",
                "event.deleted",
                "event.started",
                "event.ended",
                "event.hold_created",
                "event.hold_expired",
                "event.hold_released",
                "event.hold_confirmed",
                "proposal.created",
                "proposal.responded",
                "proposal.confirmed",
                "proposal.expired",
                "proposal.cancelled",
                "webhook.deactivated"
              ]
            },
            "example": [
              "event.created",
              "event.updated"
            ]
          },
          "active": {
            "type": "boolean",
            "example": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2025-01-15T10:00:00.000Z"
          }
        },
        "required": [
          "id",
          "url",
          "events",
          "active",
          "created_at"
        ]
      },
      "WebhookList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Webhook"
            }
          },
          "total": {
            "type": "integer",
            "example": 1
          }
        },
        "required": [
          "data",
          "total"
        ]
      },
      "WebhookDelivery": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "whd_01H9X4M2P5R8T6V0"
          },
          "subscription_id": {
            "type": "string",
            "example": "whk_01H9X4M2P5R8T6V0"
          },
          "event_type": {
            "type": "string",
            "enum": [
              "agent.created",
              "agent.updated",
              "event.created",
              "event.updated",
              "event.deleted",
              "event.started",
              "event.ended",
              "event.hold_created",
              "event.hold_expired",
              "event.hold_released",
              "event.hold_confirmed",
              "proposal.created",
              "proposal.responded",
              "proposal.confirmed",
              "proposal.expired",
              "proposal.cancelled",
              "webhook.deactivated"
            ],
            "example": "event.created"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "delivered",
              "failed"
            ],
            "example": "delivered"
          },
          "attempts": {
            "type": "integer",
            "example": 1
          },
          "last_attempt_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2026-04-18T10:00:00.000Z"
          },
          "next_retry_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": null
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-04-18T09:55:00.000Z"
          },
          "payload": {
            "type": "object",
            "additionalProperties": {},
            "description": "Present only when include_payload=true",
            "example": {
              "id": "evt_abc",
              "title": "Meeting"
            }
          }
        },
        "required": [
          "id",
          "subscription_id",
          "event_type",
          "status",
          "attempts",
          "last_attempt_at",
          "next_retry_at",
          "created_at"
        ]
      },
      "WebhookDeliveryList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WebhookDelivery"
            }
          },
          "total": {
            "type": "integer",
            "example": 42
          },
          "limit": {
            "type": "integer",
            "example": 20
          },
          "offset": {
            "type": "integer",
            "example": 0
          },
          "stats": {
            "type": "object",
            "properties": {
              "pending": {
                "type": "integer",
                "example": 2
              },
              "delivered": {
                "type": "integer",
                "example": 35
              },
              "failed": {
                "type": "integer",
                "example": 5
              }
            },
            "required": [
              "pending",
              "delivered",
              "failed"
            ],
            "description": "All-time delivery counts for this webhook"
          }
        },
        "required": [
          "data",
          "total",
          "limit",
          "offset",
          "stats"
        ]
      },
      "ICalSubscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "ics_01H9X4M2P5R8T6V0"
          },
          "agent_id": {
            "type": "string",
            "example": "agt_01H9X4M2P5R8T6V0"
          },
          "calendar_id": {
            "type": "string",
            "example": "cal_01H9X4M2P5R8T6V0"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "example": "https://calendar.google.com/calendar/ical/example/basic.ics"
          },
          "label": {
            "type": [
              "string",
              "null"
            ],
            "example": "Google Calendar"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "error",
              "paused"
            ],
            "example": "active"
          },
          "last_synced_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2025-01-15T10:00:00.000Z"
          },
          "last_error": {
            "type": [
              "string",
              "null"
            ],
            "example": null
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2025-01-15T10:00:00.000Z"
          }
        },
        "required": [
          "id",
          "agent_id",
          "calendar_id",
          "url",
          "label",
          "status",
          "last_synced_at",
          "last_error",
          "created_at"
        ]
      },
      "ICalSubscriptionList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ICalSubscription"
            }
          },
          "total": {
            "type": "integer",
            "example": 1
          }
        },
        "required": [
          "data",
          "total"
        ]
      },
      "Usage": {
        "type": "object",
        "properties": {
          "plan": {
            "type": "string",
            "example": "free"
          },
          "period": {
            "type": "string",
            "example": "2025-01"
          },
          "usage": {
            "type": "object",
            "properties": {
              "agents": {
                "type": "integer",
                "example": 2
              },
              "calendars": {
                "type": "integer",
                "example": 4
              },
              "events": {
                "type": "integer",
                "example": 120
              },
              "api_calls": {
                "type": "integer",
                "example": 3400
              },
              "webhook_deliveries": {
                "type": "integer",
                "example": 200
              },
              "availability_queries": {
                "type": "integer",
                "example": 50
              },
              "ical_subscriptions": {
                "type": "integer",
                "example": 1
              }
            },
            "required": [
              "agents",
              "calendars",
              "events",
              "api_calls",
              "webhook_deliveries",
              "availability_queries",
              "ical_subscriptions"
            ]
          },
          "limits": {
            "type": "object",
            "properties": {
              "agents": {
                "type": [
                  "integer",
                  "null"
                ],
                "example": 5
              },
              "calendars": {
                "type": [
                  "integer",
                  "null"
                ],
                "example": 10
              },
              "events": {
                "type": [
                  "integer",
                  "null"
                ],
                "example": 5000
              },
              "api_calls": {
                "type": [
                  "integer",
                  "null"
                ],
                "example": 50000
              },
              "webhook_deliveries": {
                "type": [
                  "integer",
                  "null"
                ],
                "example": 10000
              },
              "availability_queries": {
                "type": [
                  "integer",
                  "null"
                ],
                "example": 10000
              },
              "ical_subscriptions": {
                "type": [
                  "integer",
                  "null"
                ],
                "example": 3
              }
            },
            "required": [
              "agents",
              "calendars",
              "events",
              "api_calls",
              "webhook_deliveries",
              "availability_queries",
              "ical_subscriptions"
            ]
          }
        },
        "required": [
          "plan",
          "period",
          "usage",
          "limits"
        ]
      },
      "ScopedApiKey": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "db59cb2d-5bd6-4631-84e7-c65db55ff9f9"
          },
          "mode": {
            "type": "string",
            "enum": [
              "live",
              "test"
            ],
            "example": "test"
          },
          "key_prefix": {
            "type": "string",
            "example": "chr_ak_test_0A1B2C3D"
          },
          "agent_id": {
            "type": "string",
            "example": "agt_01H9X4M2P5R8T6V0"
          },
          "label": {
            "type": [
              "string",
              "null"
            ],
            "example": "Customer A"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-04-17T16:20:00.000Z"
          }
        },
        "required": [
          "id",
          "mode",
          "key_prefix",
          "agent_id",
          "label",
          "created_at"
        ]
      },
      "CreatedScopedApiKey": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ScopedApiKey"
          },
          {
            "type": "object",
            "properties": {
              "key": {
                "type": "string",
                "example": "chr_ak_test_0123456789ABCDEF"
              }
            },
            "required": [
              "key"
            ]
          }
        ]
      },
      "ScopedApiKeyList": {
        "type": "object",
        "properties": {
          "keys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScopedApiKey"
            }
          }
        },
        "required": [
          "keys"
        ]
      },
      "CreateAgent": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "type": {
            "type": "string",
            "enum": [
              "ai",
              "human",
              "resource"
            ]
          },
          "description": {
            "type": "string"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": [
          "name",
          "type"
        ]
      },
      "UpdateAgent": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {}
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paused"
            ]
          }
        }
      },
      "ListAgentsQuery": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "ai",
              "human",
              "resource"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paused",
              "decommissioned"
            ]
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200,
            "default": 50
          },
          "offset": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "default": 0
          }
        }
      },
      "CreateCalendar": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "timezone": {
            "type": "string",
            "minLength": 1
          },
          "agent_status": {
            "type": "string",
            "enum": [
              "idle",
              "working",
              "waiting",
              "error"
            ]
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {}
          }
        },
        "required": [
          "name",
          "timezone"
        ]
      },
      "UpdateCalendar": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "timezone": {
            "type": "string",
            "minLength": 1
          },
          "agent_status": {
            "type": "string",
            "enum": [
              "idle",
              "working",
              "waiting",
              "error"
            ]
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {}
          }
        }
      },
      "ListCalendarsQuery": {
        "type": "object",
        "properties": {
          "include": {
            "type": "string",
            "enum": [
              "all"
            ]
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200,
            "default": 50
          },
          "offset": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "default": 0
          }
        }
      },
      "CreateEvent": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_time": {
            "type": "string",
            "format": "date-time"
          },
          "description": {
            "type": "string"
          },
          "all_day": {
            "type": "boolean",
            "default": false
          },
          "status": {
            "type": "string",
            "enum": [
              "confirmed",
              "tentative",
              "cancelled",
              "hold"
            ],
            "default": "confirmed"
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {}
          },
          "hold_expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "hold_priority": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100
          }
        },
        "required": [
          "title",
          "start_time",
          "end_time"
        ]
      },
      "UpdateEvent": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500
          },
          "description": {
            "type": [
              "string",
              "null"
            ]
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_time": {
            "type": "string",
            "format": "date-time"
          },
          "all_day": {
            "type": "boolean"
          },
          "status": {
            "type": "string",
            "enum": [
              "confirmed",
              "tentative",
              "cancelled"
            ]
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {}
          }
        }
      },
      "ListEventsQuery": {
        "type": "object",
        "properties": {
          "start_after": {
            "type": "string",
            "format": "date-time"
          },
          "start_before": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string",
            "enum": [
              "confirmed",
              "tentative",
              "cancelled",
              "hold"
            ]
          },
          "source": {
            "type": "string",
            "enum": [
              "internal",
              "external_ical"
            ]
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200,
            "default": 50
          },
          "offset": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "default": 0
          }
        }
      },
      "AvailabilityQuery": {
        "type": "object",
        "properties": {
          "start": {
            "type": "string",
            "format": "date-time"
          },
          "end": {
            "type": "string",
            "format": "date-time"
          },
          "slot_duration": {
            "type": "string",
            "enum": [
              "15m",
              "30m",
              "45m",
              "1h",
              "2h"
            ],
            "default": "30m"
          },
          "include_busy": {
            "type": "string",
            "enum": [
              "true",
              "false"
            ],
            "default": "false"
          }
        },
        "required": [
          "start",
          "end"
        ]
      },
      "CrossAgentAvailabilityQuery": {
        "type": "object",
        "properties": {
          "agents": {
            "type": "string",
            "minLength": 1
          },
          "start": {
            "type": "string",
            "format": "date-time"
          },
          "end": {
            "type": "string",
            "format": "date-time"
          },
          "slot_duration": {
            "type": "string",
            "enum": [
              "15m",
              "30m",
              "45m",
              "1h",
              "2h"
            ],
            "default": "30m"
          },
          "calendars": {
            "type": "string"
          },
          "include_busy": {
            "type": "string",
            "enum": [
              "true",
              "false"
            ],
            "default": "false"
          }
        },
        "required": [
          "agents",
          "start",
          "end"
        ]
      },
      "UpdateAvailabilityRules": {
        "type": "object",
        "properties": {
          "buffer_before_minutes": {
            "type": "integer",
            "minimum": 0,
            "maximum": 120,
            "default": 0
          },
          "buffer_after_minutes": {
            "type": "integer",
            "minimum": 0,
            "maximum": 120,
            "default": 0
          },
          "working_hours": {
            "type": [
              "object",
              "null"
            ],
            "properties": {
              "mon": {
                "type": "object",
                "properties": {
                  "start": {
                    "type": "string",
                    "pattern": "^\\d{2}:\\d{2}$"
                  },
                  "end": {
                    "type": "string",
                    "pattern": "^\\d{2}:\\d{2}$"
                  }
                },
                "required": [
                  "start",
                  "end"
                ]
              },
              "tue": {
                "type": "object",
                "properties": {
                  "start": {
                    "type": "string",
                    "pattern": "^\\d{2}:\\d{2}$"
                  },
                  "end": {
                    "type": "string",
                    "pattern": "^\\d{2}:\\d{2}$"
                  }
                },
                "required": [
                  "start",
                  "end"
                ]
              },
              "wed": {
                "type": "object",
                "properties": {
                  "start": {
                    "type": "string",
                    "pattern": "^\\d{2}:\\d{2}$"
                  },
                  "end": {
                    "type": "string",
                    "pattern": "^\\d{2}:\\d{2}$"
                  }
                },
                "required": [
                  "start",
                  "end"
                ]
              },
              "thu": {
                "type": "object",
                "properties": {
                  "start": {
                    "type": "string",
                    "pattern": "^\\d{2}:\\d{2}$"
                  },
                  "end": {
                    "type": "string",
                    "pattern": "^\\d{2}:\\d{2}$"
                  }
                },
                "required": [
                  "start",
                  "end"
                ]
              },
              "fri": {
                "type": "object",
                "properties": {
                  "start": {
                    "type": "string",
                    "pattern": "^\\d{2}:\\d{2}$"
                  },
                  "end": {
                    "type": "string",
                    "pattern": "^\\d{2}:\\d{2}$"
                  }
                },
                "required": [
                  "start",
                  "end"
                ]
              },
              "sat": {
                "type": "object",
                "properties": {
                  "start": {
                    "type": "string",
                    "pattern": "^\\d{2}:\\d{2}$"
                  },
                  "end": {
                    "type": "string",
                    "pattern": "^\\d{2}:\\d{2}$"
                  }
                },
                "required": [
                  "start",
                  "end"
                ]
              },
              "sun": {
                "type": "object",
                "properties": {
                  "start": {
                    "type": "string",
                    "pattern": "^\\d{2}:\\d{2}$"
                  },
                  "end": {
                    "type": "string",
                    "pattern": "^\\d{2}:\\d{2}$"
                  }
                },
                "required": [
                  "start",
                  "end"
                ]
              }
            },
            "default": null
          },
          "timezone": {
            "type": "string",
            "minLength": 1,
            "maxLength": 64,
            "default": "UTC"
          }
        }
      },
      "AvailabilityRules": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "avr_01H9X4M2P5R8T6V0"
          },
          "calendar_id": {
            "type": "string",
            "example": "cal_01H9X4M2P5R8T6V0"
          },
          "buffer_before_minutes": {
            "type": "number",
            "example": 10
          },
          "buffer_after_minutes": {
            "type": "number",
            "example": 5
          },
          "working_hours": {
            "example": {
              "mon": {
                "start": "09:00",
                "end": "17:00"
              }
            }
          },
          "timezone": {
            "type": "string",
            "example": "America/New_York"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2025-01-15T10:00:00.000Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2025-01-15T10:00:00.000Z"
          }
        },
        "required": [
          "id",
          "calendar_id",
          "buffer_before_minutes",
          "buffer_after_minutes",
          "timezone",
          "created_at",
          "updated_at"
        ]
      },
      "CreateWebhook": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "agent.created",
                "agent.updated",
                "event.created",
                "event.updated",
                "event.deleted",
                "event.started",
                "event.ended",
                "event.hold_created",
                "event.hold_expired",
                "event.hold_released",
                "event.hold_confirmed",
                "proposal.created",
                "proposal.responded",
                "proposal.confirmed",
                "proposal.expired",
                "proposal.cancelled",
                "webhook.deactivated"
              ]
            },
            "minItems": 1
          }
        },
        "required": [
          "url",
          "events"
        ]
      },
      "UpdateWebhook": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "format": "uri"
          },
          "events": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "agent.created",
                "agent.updated",
                "event.created",
                "event.updated",
                "event.deleted",
                "event.started",
                "event.ended",
                "event.hold_created",
                "event.hold_expired",
                "event.hold_released",
                "event.hold_confirmed",
                "proposal.created",
                "proposal.responded",
                "proposal.confirmed",
                "proposal.expired",
                "proposal.cancelled",
                "webhook.deactivated"
              ]
            }
          },
          "active": {
            "type": "boolean"
          }
        }
      },
      "ListWebhooksQuery": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 20
          },
          "offset": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "default": 0
          }
        }
      },
      "ListDeliveriesQuery": {
        "type": "object",
        "properties": {
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 100,
            "default": 20
          },
          "offset": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "default": 0
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "delivered",
              "failed"
            ]
          },
          "include_payload": {
            "type": "string",
            "enum": [
              "true",
              "false"
            ]
          }
        }
      },
      "CreateScopedApiKey": {
        "type": "object",
        "properties": {
          "agent_id": {
            "type": "string",
            "pattern": "^agt_"
          },
          "mode": {
            "type": "string",
            "enum": [
              "live",
              "test"
            ]
          },
          "label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          }
        },
        "required": [
          "agent_id",
          "mode"
        ]
      },
      "CreateICalSubscription": {
        "type": "object",
        "properties": {
          "calendar_id": {
            "type": "string",
            "minLength": 1
          },
          "url": {
            "type": "string",
            "format": "uri"
          },
          "label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          }
        },
        "required": [
          "calendar_id",
          "url"
        ]
      },
      "UpdateICalSubscription": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255
          },
          "url": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "ListICalSubscriptionsQuery": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "active",
              "error",
              "paused"
            ]
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 200,
            "default": 50
          },
          "offset": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "default": 0
          }
        }
      },
      "WebhookCreated": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Webhook"
          },
          {
            "type": "object",
            "properties": {
              "secret": {
                "type": "string",
                "description": "HMAC-SHA256 signing secret — returned once at creation time only. Store it securely.",
                "example": "whsec_abc123..."
              }
            },
            "required": [
              "secret"
            ]
          }
        ]
      },
      "ProposalSlot": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "slt_abc123def456"
          },
          "start_time": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-01T10:00:00.000Z"
          },
          "end_time": {
            "type": "string",
            "format": "date-time",
            "example": "2026-05-01T11:00:00.000Z"
          },
          "weight": {
            "type": "number",
            "example": 1.5
          },
          "calendar_id": {
            "type": [
              "string",
              "null"
            ],
            "example": "cal_abc123def456"
          }
        },
        "required": [
          "id",
          "start_time",
          "end_time",
          "weight",
          "calendar_id"
        ]
      },
      "ProposalResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "rsp_abc123def456"
          },
          "agent_id": {
            "type": "string",
            "example": "agt_abc123def456"
          },
          "response": {
            "type": "string",
            "enum": [
              "accept",
              "decline",
              "counter"
            ],
            "example": "accept"
          },
          "selected_slot_id": {
            "type": [
              "string",
              "null"
            ],
            "example": "slt_abc123def456"
          },
          "counter_slots": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "object",
              "additionalProperties": {}
            },
            "example": null
          },
          "message": {
            "type": [
              "string",
              "null"
            ],
            "example": null
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-04-15T10:00:00.000Z"
          }
        },
        "required": [
          "id",
          "agent_id",
          "response",
          "selected_slot_id",
          "counter_slots",
          "message",
          "created_at"
        ]
      },
      "Proposal": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "spr_abc123def456"
          },
          "title": {
            "type": "string",
            "example": "Q2 planning sync"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "example": "Quarterly planning discussion"
          },
          "organizer_agent_id": {
            "type": "string",
            "example": "agt_abc123def456"
          },
          "participant_agent_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "agt_abc123def456",
              "agt_xyz789"
            ]
          },
          "calendar_id": {
            "type": "string",
            "example": "cal_abc123def456"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "confirmed",
              "expired",
              "cancelled"
            ],
            "example": "pending"
          },
          "is_test": {
            "type": "boolean",
            "example": false
          },
          "expires_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": "2026-05-01T00:00:00.000Z"
          },
          "resolved_slot": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {},
            "example": null
          },
          "created_event_id": {
            "type": [
              "string",
              "null"
            ],
            "example": null
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {},
            "example": {}
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-04-15T10:00:00.000Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-04-15T10:00:00.000Z"
          },
          "slots": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProposalSlot"
            }
          },
          "responses": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProposalResponse"
            }
          }
        },
        "required": [
          "id",
          "title",
          "description",
          "organizer_agent_id",
          "participant_agent_ids",
          "calendar_id",
          "status",
          "is_test",
          "expires_at",
          "resolved_slot",
          "created_event_id",
          "metadata",
          "created_at",
          "updated_at",
          "slots",
          "responses"
        ]
      },
      "ProposalSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "spr_abc123def456"
          },
          "title": {
            "type": "string",
            "example": "Q2 planning sync"
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "example": null
          },
          "organizer_agent_id": {
            "type": "string",
            "example": "agt_abc123def456"
          },
          "participant_agent_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "agt_abc123def456"
            ]
          },
          "calendar_id": {
            "type": "string",
            "example": "cal_abc123def456"
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "confirmed",
              "expired",
              "cancelled"
            ],
            "example": "pending"
          },
          "is_test": {
            "type": "boolean",
            "example": false
          },
          "expires_at": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "example": null
          },
          "resolved_slot": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {},
            "example": null
          },
          "created_event_id": {
            "type": [
              "string",
              "null"
            ],
            "example": null
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {},
            "example": {}
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-04-15T10:00:00.000Z"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "example": "2026-04-15T10:00:00.000Z"
          }
        },
        "required": [
          "id",
          "title",
          "description",
          "organizer_agent_id",
          "participant_agent_ids",
          "calendar_id",
          "status",
          "is_test",
          "expires_at",
          "resolved_slot",
          "created_event_id",
          "metadata",
          "created_at",
          "updated_at"
        ]
      },
      "ProposalList": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProposalSummary"
            }
          },
          "total": {
            "type": "integer",
            "example": 5
          }
        },
        "required": [
          "data",
          "total"
        ]
      },
      "RespondToProposalBody": {
        "type": "object",
        "properties": {
          "agent_id": {
            "type": "string"
          },
          "response": {
            "type": "string",
            "enum": [
              "accept",
              "decline",
              "counter"
            ]
          },
          "selected_slot_id": {
            "type": "string",
            "description": "Required when response is \"accept\""
          },
          "counter_slots": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            },
            "description": "Informational alternatives when countering"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "agent_id",
          "response"
        ]
      },
      "ResolveResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "resolved_slot": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {}
          }
        },
        "required": [
          "status",
          "resolved_slot"
        ]
      },
      "CancelResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          }
        },
        "required": [
          "status"
        ]
      },
      "AgentSignUpBody": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "agent@example.com"
          },
          "agent_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100,
            "example": "Support Agent"
          },
          "tos_version": {
            "type": "string",
            "minLength": 1,
            "example": "pre-launch"
          }
        },
        "required": [
          "email",
          "agent_name",
          "tos_version"
        ]
      },
      "AgentSignUpNewOrgResponse": {
        "type": "object",
        "properties": {
          "org_id": {
            "type": "string",
            "example": "org_a1b2c3d4-e5f6-7890-1234-567890abcdef"
          },
          "agent_id": {
            "type": "string",
            "example": "agt_abcd1234xyz0"
          },
          "api_key": {
            "type": "string",
            "example": "chr_sk_live_..."
          },
          "test_api_key": {
            "type": "string",
            "example": "chr_sk_test_..."
          },
          "message": {
            "type": "string",
            "example": "Verification code sent to email"
          }
        },
        "required": [
          "org_id",
          "agent_id",
          "api_key",
          "test_api_key",
          "message"
        ]
      },
      "AgentSignUpOpaqueResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Verification code sent to email"
          }
        },
        "required": [
          "message"
        ]
      },
      "AgentVerifyBody": {
        "type": "object",
        "properties": {
          "otp": {
            "type": "string",
            "minLength": 6,
            "maxLength": 6,
            "pattern": "^\\d+$",
            "example": "123456"
          }
        },
        "required": [
          "otp"
        ]
      },
      "AgentVerifyResponse": {
        "type": "object",
        "properties": {
          "verified": {
            "type": "boolean",
            "enum": [
              true
            ],
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Full access unlocked"
          }
        },
        "required": [
          "verified",
          "message"
        ]
      },
      "CreateFeedback": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "bug",
              "feature",
              "friction"
            ],
            "example": "bug"
          },
          "message": {
            "type": "string",
            "minLength": 10,
            "maxLength": 2000,
            "example": "The availability endpoint returns empty slots when timezone is UTC+13."
          },
          "context": {
            "type": "object",
            "additionalProperties": {},
            "example": {
              "sdk_name": "chronary-python",
              "sdk_version": "0.4.2",
              "endpoint": "GET /v1/availability"
            }
          }
        },
        "required": [
          "type",
          "message"
        ]
      },
      "FeedbackAccepted": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "accepted"
            ],
            "example": "accepted"
          }
        },
        "required": [
          "status"
        ]
      },
      "PlanLimits": {
        "type": [
          "object",
          "null"
        ],
        "properties": {
          "agents": {
            "type": [
              "integer",
              "null"
            ]
          },
          "calendars": {
            "type": [
              "integer",
              "null"
            ]
          },
          "events": {
            "type": [
              "integer",
              "null"
            ]
          },
          "api_calls": {
            "type": [
              "integer",
              "null"
            ]
          },
          "webhook_deliveries": {
            "type": [
              "integer",
              "null"
            ]
          },
          "availability_queries": {
            "type": [
              "integer",
              "null"
            ]
          },
          "ical_subscriptions": {
            "type": [
              "integer",
              "null"
            ]
          },
          "proposals": {
            "type": [
              "integer",
              "null"
            ]
          }
        },
        "required": [
          "agents",
          "calendars",
          "events",
          "api_calls",
          "webhook_deliveries",
          "availability_queries",
          "ical_subscriptions",
          "proposals"
        ],
        "description": "Enforced caps. `null` for custom-priced tiers (negotiated separately)."
      },
      "Plan": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "enum": [
              "free",
              "pro",
              "scale",
              "enterprise"
            ]
          },
          "name": {
            "type": "string",
            "example": "Pro"
          },
          "tagline": {
            "type": "string",
            "example": "For production agent workflows"
          },
          "price": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Recurring monthly amount in the smallest currency unit (e.g. USD cents). `null` for custom-priced tiers.",
            "example": 2900
          },
          "currency": {
            "type": [
              "string",
              "null"
            ],
            "description": "Lowercase ISO-4217 code. `null` for custom-priced tiers.",
            "example": "usd"
          },
          "limits": {
            "$ref": "#/components/schemas/PlanLimits"
          },
          "display_features": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Marketing copy for UI rendering. Not machine-readable — use `limits` for capability checks."
          },
          "recommended": {
            "type": "boolean",
            "description": "Hint for UIs to highlight one tier (currently `pro`)."
          },
          "custom_pricing": {
            "type": "boolean",
            "description": "Present and `true` for the enterprise tier."
          },
          "contact_url": {
            "type": "string",
            "description": "Sales contact URL for custom-priced tiers."
          }
        },
        "required": [
          "id",
          "name",
          "tagline",
          "price",
          "currency",
          "limits",
          "display_features",
          "recommended"
        ]
      },
      "ICalSyncQueued": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "syncing"
            ],
            "example": "syncing"
          }
        },
        "required": [
          "status"
        ]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "description": "Returns the current server status. Does not require authentication.",
        "tags": [
          "System"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Server is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "ok"
                      ],
                      "example": "ok"
                    },
                    "ts": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-01-15T10:00:00.000Z"
                    }
                  },
                  "required": [
                    "status",
                    "ts"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/v1/plans": {
      "get": {
        "summary": "List plans",
        "description": "Returns the catalog of publicly-available plans with pricing, limits, and display metadata. No authentication required; IP-rate-limited. Responses are cacheable (`Cache-Control: public, max-age=300, s-maxage=3600, stale-while-revalidate=86400`) with an `ETag` for 304 conditional requests.",
        "tags": [
          "Plans"
        ],
        "security": [],
        "responses": {
          "200": {
            "description": "Plan catalog",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "plans": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Plan"
                      }
                    }
                  },
                  "required": [
                    "plans"
                  ]
                }
              }
            }
          },
          "304": {
            "description": "ETag matched — no body"
          }
        }
      }
    },
    "/ical/{ical_token}": {
      "get": {
        "summary": "Get iCal feed",
        "description": "Returns a calendar's events in iCalendar (RFC 5545) format. No authentication required — the token in the URL acts as a capability. Responses are cached for 5 minutes and include an ETag for conditional requests.",
        "tags": [
          "iCal Feeds"
        ],
        "security": [],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "iCal feed token from the calendar `ical_token` field"
            },
            "required": true,
            "name": "ical_token",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "iCalendar feed",
            "content": {
              "text/calendar": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents": {
      "get": {
        "summary": "List agents",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "ai",
                "human",
                "resource"
              ]
            },
            "required": false,
            "name": "type",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "paused",
                "decommissioned"
              ]
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": 0,
              "default": 0
            },
            "required": false,
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of agents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — 10 requests per second per key exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create an agent",
        "tags": [
          "Agents"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgent"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "400": {
            "description": "Validation error — invalid request body or query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — quota exceeded or operation not permitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — 10 requests per second per key exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/{id}": {
      "get": {
        "summary": "Get an agent",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Agent ID",
              "example": "agt_01H9X4M2P5R8T6V0"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — 10 requests per second per key exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update an agent",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Agent ID",
              "example": "agt_01H9X4M2P5R8T6V0"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAgent"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated agent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Agent"
                }
              }
            }
          },
          "400": {
            "description": "Validation error — invalid request body or query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — 10 requests per second per key exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete an agent",
        "description": "Decommissions the agent and all associated calendars and events.",
        "tags": [
          "Agents"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Agent ID",
              "example": "agt_01H9X4M2P5R8T6V0"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "Agent deleted"
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — 10 requests per second per key exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/{agent_id}/calendars": {
      "get": {
        "summary": "List calendars for an agent",
        "tags": [
          "Calendars"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Agent ID",
              "example": "agt_01H9X4M2P5R8T6V0"
            },
            "required": true,
            "name": "agent_id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "all"
              ]
            },
            "required": false,
            "name": "include",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": 0,
              "default": 0
            },
            "required": false,
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of calendars",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — 10 requests per second per key exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a calendar for an agent",
        "tags": [
          "Calendars"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Agent ID",
              "example": "agt_01H9X4M2P5R8T6V0"
            },
            "required": true,
            "name": "agent_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCalendar"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Calendar created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "description": "Validation error — invalid request body or query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — quota exceeded or operation not permitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — 10 requests per second per key exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/{agent_id}/events": {
      "get": {
        "summary": "List events for an agent",
        "description": "Returns events across all calendars owned by the agent.",
        "tags": [
          "Events"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Agent ID",
              "example": "agt_01H9X4M2P5R8T6V0"
            },
            "required": true,
            "name": "agent_id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "name": "start_after",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": false,
            "name": "start_before",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "confirmed",
                "tentative",
                "cancelled",
                "hold"
              ]
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "internal",
                "external_ical"
              ]
            },
            "required": false,
            "name": "source",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": 0,
              "default": 0
            },
            "required": false,
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — 10 requests per second per key exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/{id}/availability": {
      "get": {
        "summary": "Get agent availability",
        "description": "Returns free/busy slots for all calendars owned by the agent.",
        "tags": [
          "Availability"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Agent ID",
              "example": "agt_01H9X4M2P5R8T6V0"
            },
            "required": true,
            "name": "id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": true,
            "name": "start",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "required": true,
            "name": "end",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "15m",
                "30m",
                "45m",
                "1h",
                "2h"
              ],
              "default": "30m"
            },
            "required": false,
            "name": "slot_duration",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ],
              "default": "false"
            },
            "required": false,
            "name": "include_busy",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Availability slots",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AvailabilityResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error — invalid request body or query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — 10 requests per second per key exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/agents/{agent_id}/ical-subscriptions": {
      "get": {
        "summary": "List iCal subscriptions for an agent",
        "tags": [
          "iCal Subscriptions"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Agent ID",
              "example": "agt_01H9X4M2P5R8T6V0"
            },
            "required": true,
            "name": "agent_id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "error",
                "paused"
              ]
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": 0,
              "default": 0
            },
            "required": false,
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of iCal subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ICalSubscriptionList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — 10 requests per second per key exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create an iCal subscription for an agent",
        "description": "Subscribes an agent's calendar to an external iCal feed. The feed is polled every 30 minutes and events are synced into the target calendar.",
        "tags": [
          "iCal Subscriptions"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Agent ID",
              "example": "agt_01H9X4M2P5R8T6V0"
            },
            "required": true,
            "name": "agent_id",
            "in": "path"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateICalSubscription"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Subscription created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ICalSubscription"
                }
              }
            }
          },
          "400": {
            "description": "Validation error — invalid request body or query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — quota exceeded or operation not permitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — 10 requests per second per key exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/calendars": {
      "get": {
        "summary": "List calendars",
        "description": "By default, returns only agent-owned calendars. Pass `include=all` to include shared org-level calendars.",
        "tags": [
          "Calendars"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": [
                "all"
              ]
            },
            "required": false,
            "name": "include",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 50
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": [
                "integer",
                "null"
              ],
              "minimum": 0,
              "default": 0
            },
            "required": false,
            "name": "offset",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "List of calendars",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarList"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — 10 requests per second per key exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a calendar",
        "description": "Creates a shared (org-level) calendar not associated with any specific agent.",
        "tags": [
          "Calendars"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCalendar"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Calendar created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
              }
            }
          },
          "400": {
            "description": "Validation error — invalid request body or query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden — quota exceeded or operation not permitted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limited — 10 requests per second per key exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/calendars/{id}": {
      "get": {
        "summary": "Get a calendar",
        "tags": [
          "Calendars"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Calendar ID",
              "example": "cal_01H9X4M2P5R8T6V0"
            },
            "required": true,
            "name": "id",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Calendar"
                }
[...]
